body {
    font-family: "Lexend", sans-serif;
    background-color: var(--gray-color10);
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    & > main.main {
        flex-grow: 1;
    }
    & > header.header,
    & > main.main,
    & > footer.footer {
        width: 100%;
    }
}
.container-fluid {
    max-width: 1920px;
    margin: 0 auto;
    border: 1px solid red;
}
.container {
    max-width: 1610px;
    padding: 0 10px;
    margin: 0 auto;
}
.base-btn {
    font-family: "Lexend", sans-serif;

    font-size: 18px;
    padding: 14px 30px;
    line-height: 150%;
    border-radius: 82px;

    color: var(--gray-color11);
    background-color: var(--green-color60);
    text-transform: capitalize;

    transition: opacity 0.5s ease;
    &:hover {
        opacity: 0.8;
    }
}

h1,
h2 {
    color: var(--white-color);
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    text-transform: capitalize;
    & > span {
        font-family: "Lexend", sans-serif;
        font-weight: 500;
        font-size: 48px;
        line-height: 150%;
        text-transform: capitalize;
        color: var(--green-color60);
    }
}
h3 {
    font-size: 24px;
    color: var(--white-color);
}
p.base-text {
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--white-color90);
}
p.secondary-text {
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-color70);
}

.block {
    background: var(--gray-color11);
    border: 1px solid var(--gray-color15);
    border-radius: 82px;
}
.tabs {
    display: flex;

    width: 382px;
    background: var(--gray-color11);
    border: 1px solid var(--gray-color15);
    border-radius: 82px;
    padding: 10px;

    & > button {
        min-width: 180px;
        border-radius: 140px;
        padding: 14px 20px;
        font-family: "Lexend", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-transform: capitalize;
        color: var(--white-color);
        background-color: transparent;
        &.is-active {
            color: var(--gray-color11);
            background-color: var(--green-color60);
        }
    }
}

.base-icons {
    width: 80px;
    height: 80px;
    border-radius: 70px;
    background: linear-gradient(
        180deg,
        rgba(202, 255, 51, 0.1) -66.22%,
        rgba(202, 255, 51, 0) 85.46%
    );
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid rgba(202, 255, 51, 0.1);
        background-color: rgba(202, 255, 51, 0.1);
        background-repeat: no-repeat;
        background-size: 30px 30px;
        background-position: center center;
    }
}

/* header */
.header-intro {
    display: flex;
    gap: 100px;
    & > article {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        & > div {
            background-color: var(--gray-color15);
            border-radius: 60px;
            align-self: flex-start;
            padding: 10px 20px;
            & > p {
                padding-left: 30px;
                background: url(../../images/icons/green-tick.svg) no-repeat;
                font-size: 18px;
                font-weight: 300;
                line-height: 24px;
                color: var(--white-color);
            }
        }
        & > h1 {
            max-width: 700px;
        }
        & > p {
            max-width: 770px;
        }
        & > a {
            margin-top: 30px;
            align-self: flex-start;
        }
    }
    & > div {
        width: 620px;
        height: 620px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            transform: translate(32%, 15%);
            background: url(../../images/icons/header-layer-desktop-02.svg)
                no-repeat;
            width: 420px;
            height: 380px;
        }
    }
}
.header-top,
.footer-top {
    & > a {
        width: 160px;
        height: 40px;
        background-image: url(../../images/icons/logo-desktop.svg);
        background-repeat: no-repeat;
    }
    & > nav {
        & a {
            font-size: 18px;
            line-height: 150%;
            border-radius: 82px;
            color: var(--white-color);
            text-transform: capitalize;
        }
    }
}
.nav-burger {
    display: none;
}
.header-inner {
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;

    & > nav {
        & > ul {
            display: flex;
        }
        & a {
            padding: 12px 24px;
            transition: background-color 0.5s ease;
            &:hover {
                background-color: #262626;
            }
            &.is-active {
                background-color: #262626;
            }
        }
    }
    & > div {
        display: flex;
        align-items: center;
        gap: 30px;
        & > a {
            font-size: 18px;
            line-height: 150%;
            text-transform: capitalize;
        }
        & > a:first-of-type {
            color: var(--white-color);
            transition: color 0.5s ease;
            &:hover {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
    & > button {
        display: none;
    }
}
/* foooter */

.footer {
    background-color: var(--gray-color11);
}
.footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 50px;
    height: 580px;
}
.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    & > nav {
        & > ul {
            display: flex;
            gap: 30px;
        }
        & a {
            transition: color 0.5s ease;
            &:hover {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }
}
.footer-address {
    padding: 50px 0;
    border-top: 1px solid var(--gray-color15);
    border-bottom: 1px solid var(--gray-color15);
    display: flex;
    justify-content: center;
    gap: 20px;
    & > a {
        font-size: 18px;
        line-height: 150%;
        color: var(--white-color90);
        padding-left: 30px;
        &:first-of-type {
            background: url(../images/icons/green-mail.svg) no-repeat;
        }
        &:nth-of-type(2) {
            background: url(../images/icons/green-tel.svg) no-repeat;
        }
        &:last-of-type {
            background: url(../images/icons/green-geo.svg) no-repeat;
        }
    }
}
.footer-bottom {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > ul {
        display: flex;
        gap: 14px;
        & > li {
            &:first-of-type {
                & a {
                    background: url(../images/icons/black-facebook.svg)
                        no-repeat;
                    background-position: center center;
                }
            }
            &:nth-of-type(2) {
                & a {
                    background: url(../images/icons/black-twitter.svg) no-repeat;
                    background-position: center center;
                }
            }
            &:last-of-type {
                & a {
                    background: url(../images/icons/black-linkedin.svg)
                        no-repeat;
                    background-position: center center;
                }
            }
            & > a {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: var(--green-color60) !important;
                transition: transform 0.5s ease;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
    & > small,
    & > div > a {
        font-weight: 300;
        font-size: 18px;
        line-height: 150%;
        color: var(--gray-color70);
    }
    & > div {
        display: inline-flex;

        & > a {
            text-transform: capitalize;
            transition: color 0.5s ease;
            &:hover {
                color: var(--white-color);
            }
            &:first-child {
                padding-right: 12px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0%, -50%);
                    height: 27px;
                    width: 1px;
                    background: var(--gray-color70);
                }
            }
            &:last-child {
                padding-left: 12px;
            }
        }
    }
}
