@import "../laptop-base.css";
@media screen and (max-width: 1440px) {
    .container-fluid {
        max-width: 1440px;
    }
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .main {
        gap: 120px;
    }
    /* products */
    .products-inner {
        gap: 80px;
    }
    .products-content {
        gap: 10px;
        & > h2 {
            font-size: 38px;
            & > span {
                font-size: 38px;
            }
        }
        & > p {
            max-width: 820px;
            font-size: 16px;
        }
    }
    .tabs {
        & > button {
            font-size: 14px;
        }
    }
    .products-info__tab {
        & > article {
            & > div {
                width: 70px;
                height: 70px;
                &::before {
                    width: 50px;
                    height: 50px;
                    background-size: 28px 28px;
                }
            }
            & > h3 {
                font-size: 20px;
            }
            & > p {
                max-width: 370px;
                font-size: 16px;
            }
        }
    }
    /* casses */
    .cases-inner {
        gap: 60px;
    }
    .cases-content {
        gap: 10px;
        & > h2 {
            font-size: 38px;
        }
        & > p {
            font-size: 16px;
        }
    }
    .cases-block {
        gap: 60px;
    }
    .cases-items {
        gap: 10px;
        width: 610px;
        height: 430px;
    }
    .cases-items__block {
        width: 260px;
        height: 170px;
        padding: 20px;
        gap: 10px;
        & > div {
            width: 70px;
            height: 70px;
            &::before {
                width: 50px;
                height: 50px;
                background-size: 24px 24px;
            }
        }
        & > h3 {
            text-align: center;
            font-size: 16px;
        }
    }
    .cases-info {
        gap: 50px;
        & > div:not(div.cases-static) {
            & > h3 {
                font-size: 26px;
            }
            & > p {
                max-width: 610px;
                font-size: 16px;
            }
        }
        & > a {
            width: 120px;
            padding: 14px 20px;
            font-size: 14px;
        }
    }
    .cases-info__static {
        gap: 80px;
        & > article {
            &:not(:last-child) {
                &::before {
                    transform: translate(40px, -50%);
                }
            }
            & > span {
                font-size: 40px;
            }
            & > p {
                max-width: 130px;
                font-size: 15px;
            }
        }
    }

    /* features */
    .features-inner {
        gap: 60px;
    }
    .features-content {
        gap: 10px;
        & > h2 {
            font-size: 38px;
            & > span {
                font-size: inherit;
            }
        }
        & > p {
            font-size: 16px;
            max-width: 1030px;
        }
    }
    .features-wrapper {
        gap: 20px;
    }
    .features-tabs {
        & > div.block {
            width: 240px;
            height: 270px;
            & > button {
                width: 170px;
                height: 50px;
                font-size: 14px;
            }
        }
    }
    .features-info__tab {
        gap: 20px;
        & > article {
            width: 500px;
            height: 230px;
            padding: 40px;
            gap: 20px 0;
            grid-auto-rows: 24px 96px;
            & > h3 {
                font-size: 18px;
            }
            & > a {
                width: 24px;
                height: 24px;
                background-image: url(../../images/icons/arrow-up-laptop.svg);
            }
            & > p {
                font-size: 16px;
            }
        }
    }
    /* asked */

    .asked-inner {
        gap: 60px;
    }
    .asked-content {
        gap: 10px;
        & > h2 {
            font-size: 38px;
            & > span {
                font-size: inherit;
            }
        }
        & > p {
            font-size: 16px;
        }
    }
    .asked-wrapper {
        gap: 20px;
        grid-auto-rows: 300px;
        & > article {
            padding: 40px;
            gap: 20px;
            & > h3 {
                font-size: 18px;
            }
            & > p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1310px) {
    .header-intro {
        & > div {
            &::before {
                background: none;
            }
        }
    }
}
