@import "../mobile-base.css";
@media screen and (max-width: 390px) {
    .container-fluid {
        max-width: 390px;
    }
    .container {
        max-width: 380px;
    }

    .cases-content {
        align-items: center;
    }
    .cases-wrapper {
        gap: 40px;
    }
    .cases-block {
        flex-wrap: wrap;
    }
    .cases-items {
        max-width: 100%;
        padding: 20px;
        height: 370px;
    }
    .cases-items__block {
        width: 155px;
        height: 160px;
        padding: 20px 14px;
        & > div {
            width: 64px;
            height: 64px;
        }
        & > h3 {
            font-size: 14px;
        }
    }
    .cases-info {
        & > div:not(div.cases-info__static) {
            & > h3 {
                text-align: center;
                font-size: 20px;
            }
            & > p {
                text-align: center;
                font-size: 14px;
            }
        }
        & > a {
            margin: 0 auto;
        }
    }
    .cases-info__static {
        flex-wrap: wrap;
        gap: 60px;
        & > article {
            max-width: 100%;
            width: 100%;
            text-align: center;
            & > p {
                margin: 0 auto;
                max-width: 100%;
            }
            &:not(:last-child) {
                &::before {
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 30px);
                    width: 258px;
                    height: 1px;
                    background-image: url(../../images/icons/line-dotted-mobile.svg);
                }
            }
        }
    }

    /* products */
    .products-inner {
        gap: 60px;
    }
    .products-block {
        flex-direction: column;
        gap: 20px;
    }

    .tabs {
        align-self: center;
        width: 310px;
        & > button {
            min-width: 140px;
            font-size: 14px;
        }
    }
    .products-info__tab {
        flex-direction: column;
        gap: 30px;
        & > article {
            border-right: none;
            padding-right: 0;
            &:not(:last-child) {
                border-right: none;
                padding-right: 0;
                padding-bottom: 30px;
                border-bottom: 1px solid var(--gray-color15);
            }

            & > div {
                width: 70px;
                height: 70px;
                &::before {
                    width: 50px;
                    height: 50px;
                    background-size: 28px 28px;
                }
            }
            & > h3 {
                font-size: 20px;
            }
            & > p {
                max-width: 370px;
                font-size: 16px;
            }
        }
    }

    /* cases */

    /* features */
    .features-inner {
        gap: 50px;
    }
    .features-content {
        & > p {
            max-width: 100%;
            text-align: center;
        }
    }
    .features-wrapper {
        flex-wrap: wrap;
    }
    .features-tabs {
        & > div.block {
            width: 100%;
            height: auto;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
            & > button {
                width: 140px;
                font-size: 14px;
            }
        }
    }
    .features-info__tab {
        & > article {
            width: 100%;
            height: 210px;
            padding: 30px;
            grid-auto-rows: 24px 105px;
            & > p {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}
