@import "../laptop-base.css";

@media screen and (max-width: 1440px) {
    .container-fluid {
        max-width: 1440px;
    }
    .container {
        max-width: 1300px;
        margin: 0 auto;
    }
    /* mission */
    .mission-content {
        & > p {
            max-width: 1030px;
        }
    }
    .mission-wrapper {
        & > article {
            gap: 40px;
            &:last-child {
                margin-top: -80px;
            }
            & > div:first-child {
                width: 540px;
                height: 500px;
                background-size:
                    425px 440px,
                    100% 100%;
            }
            & > div:last-child {
                gap: 10px;
                & > h3 {
                    font-size: 32px;
                }
                & > p {
                    font-size: 16px;
                    max-width: 690px;
                }
            }
        }
    }

    /* releases */
    .releases-wrapper {
        gap: 20px;
        & > article {
            width: 630px;
            height: 670px;
            padding: 20px;
            gap: 40px;

            & > div:first-child {
                height: 280px;
            }
            & > div:last-child {
                gap: 10px;
                & > h3 {
                    font-size: 20px;
                }
                & > div {
                    & > span {
                        padding: 6px 14px;
                        font-size: 16px;
                    }
                }
                & > p {
                    font-size: 16px;
                }
            }
        }
    }
}
